audiomentations >= 0.40.0
auraloss >= 0.4.0
matplotlib >= 3.10.1
pandas >= 2.2.3
psutil >= 7.0.0
pyroomacoustics >= 0.1.4
pytorch-lightning >= 2.5.1
scikit-learn >= 1.6.1
scipy >= 1.15.2
soundfile >= 0.13.1
streamlit >= 1.44.1
torch >= 2.6.0
torchaudio >= 0.12.1
tqdm >= 2.2.3
tensorboard >= 2.19.0
transformers >= 4.51.3
